body {
    background-color: rgb(36, 61, 153);
    color: white;
}

ul {
    list-style: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.burgertime{
    height: 40%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mytext {
    width: 300px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}